.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

textarea {
    outline: none;
    -moz-appearance: none;
    border: 10px solid #999; /* указание этого свойства также удалит обводку в FireFox */
}




.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.25);
  animation-name: appear;
  animation-duration: 300ms;
  transform: scale(0);
}

.modal.active {
  transform: scale(1);
}

.content {
  padding: 20px;
  border-radius: 12px;
  background-color: white;
  overflow: scroll;
  height: 400px;
  width: 405px;
}



.links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.link_center {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Georgia;
}

.link_right {
  float: right;
  display: block;
  color: black;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Georgia;
}

.header{
	background: white;
  padding: 14px 16px;
  text-align: center;
  font-family: Georgia;
  font-size: 17px;
}

.header_home{
	background: white;
  font-family: Georgia;
  font-size: 20px;
  position: absolute;
  width: 100%;
  top: 50%;
  text-align: center;
}

.list{
  float: center;
  display: block;
  color: black;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  font-family: Georgia;
}

.button {
  display: inline-block;	
	box-sizing: border-box;
	padding: 0 13px;
	margin: 0 15px 15px 0;
	outline: none;
	border: 1px solid #a4afba;  
	border-radius: 3px;
	height: 32px;
	line-height: 32px;
  font-family: Georgia;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	color: #838a92;
	background-color: #fff;
	user-select: none;
	appearance: none;
	touch-action: manipulation;
  position: relative;
  left: 50%;
  top: 10px;
  transform: translate(-50%, 0);
}

.button2 {
  display: inline-block;	
	box-sizing: border-box;
	padding: 0 13px;
	margin: 0 15px 15px 0;
	outline: none;
	border: 1px solid #838a92;
	border-radius: 3px;
	height: 32px;
	line-height: 32px;
  font-family: Georgia;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	color: #838a92;
	background-color: #fff;
	user-select: none;
	appearance: none;
	touch-action: manipulation;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  top: 10px;
}

.button2_2 {
  display: inline-block;	
	box-sizing: border-box;
	padding: 0 13px;
	margin: 0 15px 15px 0;
	outline: none;
	border: 1px solid #838a92;
	border-radius: 3px;
	height: 32px;
	line-height: 32px;
  font-family: Georgia;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	color: black;
	background-color: #fff;
	user-select: none;
	appearance: none;
	touch-action: manipulation;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  top: 15px;
  margin-top: 260px;
}

.button3 {
  display: inline-block;	
	box-sizing: border-box;
	padding: 0 13px;
	margin: 0 15px 15px 0;
	outline: none;
	border: 1px solid #a4afba;  
	border-radius: 3px;
	height: 32px;
	line-height: 32px;
  font-family: Georgia;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	color: black;
	background-color: #fff;
	user-select: none;
	appearance: none;
	touch-action: manipulation;
  position: relative;
  /* left: 21.8%; */
  top: 10px;
  /* transform: translate(-50%, 0); */
}

.button3_2 {
  display: inline-block;	
	box-sizing: border-box;
	padding: 0 13px;
	margin: 0 15px 15px 0;
	outline: none;
	border: 1px solid #a4afba;  
	border-radius: 3px;
	height: 32px;
	line-height: 32px;
  font-family: Georgia;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	color: black;
	background-color: lightgreen;
	user-select: none;
	appearance: none;
	touch-action: manipulation;
  position: relative;
  /* left: 21.8%; */
  top: 10px;
}

.button4 {
  display: inline-block;
	box-sizing: border-box;
	padding: 0 13px;
	margin: 0 15px 15px 0;
	outline: none;
	border: 1px solid #a4afba;  
	border-radius: 3px;
	height: 32px;
	line-height: 32px;
  font-family: Georgia;
	font-size: 14px;
	font-weight: 500;
	text-decoration: none;
	color: black;
	background-color: #fff;
	user-select: none;
	appearance: none;
	touch-action: manipulation;
  position: relative;
  margin-top: 7px;
  margin-bottom: 7px;
}

.button4_2 {
  display: inline-block;
	height: 22px;
	box-sizing: border-box;
	padding: 0 13px;
	margin: 0 15px 15px 0;
	outline: none;
	border: 1px solid #a4afba;  
	border-radius: 3px;
  font-family: Georgia;
	text-decoration: none;
	color: black;
	background-color: #fff;
}

.button5 {
  float: right;
	padding: 0 13px;
	margin: 0 15px 15px 0;
	border: 1px solid #a4afba;  
	border-radius: 3px;
	height: 32px;
	line-height: 32px;
  font-family: Georgia;
	font-size: 14px;
	font-weight: 500;
	color: black;
	background-color: #fff;
  position: relative;
  margin-top: 7px;
  margin-bottom: 7px;
}

.button5_2 {
  float: left;
	padding: 0 13px;
	margin: 0 15px 15px 0;
	border: 1px solid #a4afba;  
	border-radius: 3px;
	height: 32px;
	line-height: 32px;
  font-family: Georgia;
	font-size: 14px;
	font-weight: 500;
	color: black;
	background-color: #fff;
  position: relative;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 25px;
}

.button6 {
  float: right;
	padding: 0 13px;
	margin: 0 15px 15px 0;
	border: 1px solid #a4afba;  
	border-radius: 3px;
	height: 32px;
	line-height: 32px;
  font-family: Georgia;
	font-size: 14px;
	font-weight: 500;
	color: black;
	background-color: #fff;
  position: relative;
  margin-top: 7px;
  margin-bottom: 7px;
  margin-right: 348px;
}

.button7 {
  /* display: inline-block; */
	height: 22px;
	box-sizing: border-box;
	padding: 0 13px;
	margin: 0 15px 15px 0;
	outline: none;
	border: 1px solid #a4afba;  
	border-radius: 3px;
  font-family: Georgia;
	text-decoration: none;
	color: black;
	background-color: #fff;
  position: absolute;
  margin-left: 700px;
  margin-top: -22px;
}



.button8 {
  /* display: inline-block; */
	height: 22px;
	box-sizing: border-box;
	padding: 0 13px;
	margin: 0 15px 15px 0;
	outline: none;
	border: 1px solid #a4afba;  
	border-radius: 3px;
  font-family: Georgia;
	text-decoration: none;
	color: black;
	background-color: #fff;
  position: absolute;
  margin-left: 970px;
  margin-top: -22px;
}

.edition {
  position: absolute;
  margin-left: 790px;
  margin-top: -22px;
}

.input {
  display: block;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family: Georgia;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  position: relative;
  left: 50%;
  top: 20%;
  transform: translate(-50%, 0);
}

.input2 {
  display: block;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family: Georgia;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  position: relative;
  top: 20%;
  width: 97%;
}

.input2_0 {
  display: block;
  height: 100px;
  padding: 0.375rem 0.75rem;
  font-family: Georgia;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  position: relative;
  top: 20%;
  width: 97%;
}

.input3 {
  display: block;
  height: 50px;
  padding: 0.375rem 0.75rem;
  font-family: Georgia;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  position: relative;
  top: 20%;
  width: 80%;
}

.input4 {
  display: block;
  height: 50px;
  padding: 0.375rem 0.75rem;
  font-family: Georgia;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  position: relative;
  top: 20%;
  width: 70%;
}

.center {
  position: absolute;
  width: 100%;
  top: 50%;
  text-align: center;
}

.list11 {
  font-family: Georgia;
  font-size: large;
}

.list12 {
  float: left;
  font-family: Georgia;
  font-size: large;
  margin-left: 25px;
}

.list13 {
  float: left;
  font-family: Georgia;
  font-size: medium;
  margin-left: 25px;
}

.list14 {
  float: left;
  font-family: Georgia;
  font-size: medium;
}

.boldtext {
  font-family: Georgia;
  font-size: large;
  font-weight: bold;
}

.search {
  float: left;
  font-family: Georgia;
  font-size: medium;
  width: 500px;
  margin-left: 50px;
}