.select {
    position: relative;
    display: block;
    width: 362px;
    top: 5px;
    margin-bottom: 20px;
    display: block;
    padding: 0.3rem 0.75rem;
    font-family: Georgia;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    width: 370px;

}

textarea {
    outline: none;
    -moz-appearance: none;
    border: 1px solid #999; /* указание этого свойства также удалит обводку в FireFox */
}

.select_item {
    color: black;
}

.select_head {
    color: #838a92;
}
